<% @title = "Home" %>
<div class="section">
	<h3 class="section">Sections</h3>
	<ul class="entities">
		<% @root.sections.each do |section| %>
			<li>
				<h4><a href="<%= path_to_section(section) %>"><%= section.name %></a></h4>
				<%= htmlize(section.short_description) %>
			</li>      
		<% end %>
	</ul>
</div>