<%
	d = @doc_instance
	@title = "#{@doc_instance.full_name} utility"
%>
<h2><span class="type">Utility</span> <%= @doc_instance.name %></h2>
<div class="section">
	<h3 class="description">Description</h3>
	<ul class="entities">
		<%= include "partials/short_description", :collection => [@doc_instance] %>
	</ul>
</div>