#dialog-overlay {
	background-color: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.dialog {
	background-color: #fff;
	border: 2px solid #000;
	position: absolute;
	}
	.dialog:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.dialog .dialog-content {
		margin: 20px;
	}
	.dialog .dialog-buttons {
		margin: 0 20px 20px;
		float: right;
		}
		.dialog .dialog-buttons a {
			margin-left: 10px;
		}
	.dialog .dialog-title {
		padding: 5px;
		background-color: #4c4bce;
		color: #fff;
		font-weight: bold;
		border-bottom: 1px solid #000;
		cursor: move;
	}