/*HTML*/
#content pre code .tag {color: #a31515;}
#content pre code .attribute {color: #f00;}
#content pre code .string {color: #4002ff;}
/*Javascript*/
#content pre code .comment {color: #408100;}
#content pre code .regex {color: #a01070;}
#content pre code .string {color: #006026;}
#content pre code .keywords {font-weight: bold;color: #0000c0;}