#sidebar {
	margin: 0;
	width: 239px;
	border-right: 1px solid #636363;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	}
	#sidebar ul {
		margin: 0 0 0 10px;
	}
	#sidebar li {
		list-style-type: none;
		}
		#sidebar li.current > .menu-item a,
		#sidebar li.current-parent > .menu-item a {
			font-weight: bold;
		}
	#sidebar a {
		display: block;
		padding: 4px 10px 4px 28px;
		background-position: 6px 50%;
		background-repeat: no-repeat;
		color: #333;
		text-decoration: none;
		}
		#sidebar a.section {
			background-image: url(../images/section.png);
			background-position: 16px 50%;
			padding-left: 38px;
			background-color: #44474b;
			color: #a5a5a5;
		}
		#sidebar a.namespace {background-image: url(../images/namespace.png);}
		#sidebar a.class {background-image: url(../images/class.png);}
		#sidebar a.mixin {background-image: url(../images/mixin.png);}
		#sidebar a.utility {background-image: url(../images/utility.png);}

#content h2 {
	margin-left: 120px;
}
#content h4.inherited {
		font-style: italic;
	}
	#content h4 span a {
		border: none;
		color: #aaa;
		font-size: 84%;
	}
#content pre code .instance {color: #fe6709;}
#content pre code .optional {font-style: italic;}
#content pre code .undefined {color: #9d9d9d;}
#content pre code .returns {font-size: 167%;}
#content pre code .keywords {font-weight: bold;}
#content pre code .dollar {color: #40a230; font-weight: bold;}

#content .section {
	position: relative;
	margin: 10px 0 20px 120px;
	}
	#content .section h3 {
		position: absolute;
		margin: 0;
		left: -120px;
		width: 86px;
		padding-right: 24px;
		text-align: right;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		}
		#content .section h3.section {background-image: url(../images/section.png);}
		#content .section h3.description {background-image: url(../images/description.png);}
		#content .section h3.namespace {background-image: url(../images/namespace.png);}
		#content .section h3.class {background-image: url(../images/class.png);}
		#content .section h3.utility {background-image: url(../images/utility.png);}
		#content .section h3.constant {background-image: url(../images/constant.png);}
		#content .section h3.constructor {background-image: url(../images/constructor.png);}
		#content .section h3.mixin {background-image: url(../images/mixin.png);}
		#content .section h3.method {background-image: url(../images/method.png);}
		#content .section h3.class_property {background-image: url(../images/class_property.png);}
		#content .section h3.class_method {background-image: url(../images/class_method.png);}
		#content .section h3.subclass {background-image: url(../images/subclass.png);}
		#content .section h3.superclass {background-image: url(../images/superclass.png);}
		#content .section h3.instance_method {background-image: url(../images/instance_method.png);}

#content .methods {
	margin: 0 0 10px;
	}
	#content .methods li {
		list-style-type: none;
		display: inline;
		margin: 0 5px 8px 0;
		}

#content .arguments {
	margin: -5px 0 0 20px;
	}
	#content .arguments li {
		display: list-item;
		list-style-type: disc;
		font-size: 93%;
	}

#content .entities {
	margin: 0 0 10px;
	}
	#content .entities li {
		list-style-type: none;
		margin: 0 0 3em 0;
	}

#content p.note {
	background-color: #f0f0f4;
	border: 1px solid #69c;
	padding: 5px 5px 5px 60px;
	background-position: 20px 50%;
	background-repeat: no-repeat;
	}
	#content p.note.information {background-image: url(../images/information.png);}
	#content p.note.alias {
		background-color: #fff6de;
		border-color: #cc9;
		font-style: italic;
		background-image: url(../images/alias.png);
	}
	#content p.note.related {
		border-color: #c9c;
		background-image: url(../images/related_to.png);
	}
#header, #navigation, #content, #footer {
	margin-left: 240px;
}
.highlighter {
	border: 3px solid #69f;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	z-index: -1;
}